@charset "UTF-8";

.css-n48rgu {
    width: 100%;
    position: relative;
}

.css-16c0d81 {
    position: relative;
    width: 1050px;
    margin: 0px auto;
    padding-top: 30px;
}

.css-1eoy87d {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.css-5v50l3 {
    width: 430px;
    height: 552px;
    background:
    url(http://localhost:8080/SellreMarket/image/introduce1.jpeg);
    -webkit-background-size: cover,contain;
    background-size: cover,contain;
    background-color: #f5f5f5;
}

.css-1ua1wyk {
    width: 560px;
}

.css-1qy9c46 {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-wrap: break-word;
}

.css-79gmk3 {
    width: 500px;
    font-weight: 500;
    font-size: 24px;
    color: #333;
    line-height: 34px;
    letter-spacing: -0.5px;
    margin-right: 20px;
}

.css-abwjr2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-end;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    padding-top: 20px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: -0.5px;
}

.css-5nirzt {
    padding-right: 9px;
    font-size: 28px;
    color: #fa622f;
}

.css-9pf1ze {
    padding-right: 4px;
    font-size: 28px;
    color: #333;
}

.css-1x9cx9j {
    display: inline-block;
    position: relative;
    top: 3px;
    font-size: 18px;
    color: #333;
    vertical-align: top;
}

.css-1e1rd4p {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 8px;
}

.css-1e1rd4p >span {
    font-size: 16px;
    color: #b5b5b5;
    letter-spacing: -0.5px;
    -webkit-text-decoration: line-through;
    text-decoration: line-through;
    margin-right: 1px;
}

.css-iqoq9n {
    margin-top: 20px;
}

.css-e6zlnr {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow: hidden;
    width: 100%;
    padding: 17px 0 18px;
    border-top: 1px solid #f4f4f4;
    font-size: 14px;
    letter-spacing: -0.5px;
}

.css-lytdfk {
    width: 128px;
    height: 100%;
    color: #666;
    font-weight: 400;
    line-height: 19px;
}

.css-1k8t52o {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.css-c02hqi {
    color: #333;
    font-weight: 400;
    line-height: 19px;
    white-space: pre-line;
    word-break: break-all;
    overflow: hidden;
}

.css-uy94b2 {
    display: block;
    font-size: 12px;
    color: #666;
    padding-top: 4px;
    line-height: 16px;
    white-space: pre-line;
}

.css-1bp09d0 {
    padding-bottom: 40px;
}

.css-2lvxh7 {
    border-bottom: 1px solid rgb(244, 244, 244);
}

.css-e6zlnr {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow: hidden;
    width: 100%;
    padding: 17px 0 18px;
    border-top: 1px solid #f4f4f4;
    font-size: 14px;
    letter-spacing: -0.5px;
}

.css-1cb5lnc:last-of-type {
    border-bottom: 1px solid rgb(244, 244, 244);
}

.css-1qdyvok {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-start;
}

.css-1yojl0t {
    line-height: 16px;
    width: 320px;
    min-height: 24px;
    color: rgb(51, 51, 51);
    overflow-wrap: break-word;
}


.css-tk6lxo {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 4px;
}

.css-nx0orh {
    display: inline-flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid rgb(221, 223, 225);
    width: 88px;
    border-radius: 3px;
}

.css-1e90glc {
    display: inline-flex;
    width: 28px;
    height: 28px;
    border: none;
    font-size: 1px;
    color: transparent;
    background-size: cover;
    background-color: transparent;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0yMCAxNHYySDEwdi0yeiIgZmlsbD0iI0RERCIgZmlsbC1ydWxlPSJub256ZXJvIi8+Cjwvc3ZnPgo=);
    vertical-align: top;
}

.css-8azp8 {
    display: inline-flex;
    width: 28px;
    height: 28px;
    border: none;
    font-size: 1px;
    color: transparent;
    background-size: cover;
    background-color: transparent;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0yMCAxNHYySDEwdi0yeiIgZmlsbD0iIzMzMyIgZmlsbC1ydWxlPSJub256ZXJvIi8+Cjwvc3ZnPgo=);
    vertical-align: top;
}

.css-6m57y0 {
    display: inline-flex;
    overflow: hidden;
    white-space: nowrap;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    color: rgb(51, 51, 51);
    text-align: center;
    width: 31px;
    height: 28px;
    line-height: 28px;
}

.css-18y6jr4 {
    display: inline-flex;
    width: 28px;
    height: 28px;
    border: none;
    font-size: 1px;
    color: transparent;
    background-size: cover;
    background-color: transparent;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xNiAxMHY0aDR2MmgtNHY0aC0ydi00aC00di0yaDR2LTRoMnoiIGZpbGw9IiMzMzMiIGZpbGwtcnVsZT0ibm9uemVybyIvPgo8L3N2Zz4K);
    vertical-align: top;
}

.css-1jzvrpg {
    padding-top: 4px;
}

.css-fburr9 {
    margin-right: 4px;
    font-weight: normal;
    font-size: 12px;
    color: rgb(181, 181, 181);
    text-decoration: line-through;
}

.css-gqkxk8 {
    font-weight: bold;
    font-size: 12px;
    color: rgb(51, 51, 51);
    padding-right: 4px;
}

.css-9y0nwt {
    padding-top: 30px;
}

.css-ixlb9s {
    letter-spacing: -0.5px;
}

.css-yhijln {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: flex-end;
    align-items: flex-end;
}

.css-w1is7v {
    padding-right: 12px;
    font-size: 13px;
    font-weight: 500;
    color: #333;
    line-height: 20px;
}

.css-x4cdgl {
    font-weight: bold;
    font-size: 32px;
    color: #333;
    line-height: 36px;
}

.css-1jb8hmu {
    padding-left: 5px;
    font-size: 20px;
    font-weight: 600;
    color: #333;
    line-height: 30px;
}

.css-gnxbjx {
    display: flex;
    gap: 8px;
    margin-top: 20px;
}

.css-3z91zj {
    display: block;
    padding: 0 10px;
    text-align: center;
    overflow: hidden;
    width: 56px;
    height: 56px;
    border-radius: 3px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
}

.css-nytqmg {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}

.css-3z91zj:disabled {
    border-color: #ddd;
    color: #ddd;
}

.css-nytqmg {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}

.css-14jnwd7 {
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.css-14jnwd7 .cart-button {
    font-weight: 500;
}

.css-1qirdbn {
    display: block;
    padding: 0 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 52px;
    border-radius: 3px;
    color: #fff;
    background-color: #5f0080;
    border: 0 none;
}

.css-nytqmg {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}